main {
  padding-bottom: 150px;
  background: url("/assets/img/bg-menu-01.jpg") center / cover no-repeat;
  background-position-y: 350px;
}

.mainTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;

  .orange {
    margin: 30px auto;
    font-size: 2rem;
  }
  span {
    margin-bottom: 30px;
  }
  ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    color: rgb(202, 200, 200);
    li {
      font-family: roboto;
      text-decoration: underline;
      text-underline-offset: 15px;
    }
  }
}

.mainCenter {
  position: relative;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: white;
  font-family: roboto;
  .mainCenterTable {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    .table {
      display: grid;
      grid-template-columns: 30% 60% 10%;
      padding: 20px;
      align-items: center;
    }
    .tablePic {
      img {
        width: 80px;
        height: 80px;
        border-radius: 100px;
      }
    }
    .tableDesc {
      text-align: start;
      h5 {
        text-transform: uppercase;
      }
      p {
        text-transform: capitalize;
        margin: 5px 0;
        font-size: 0.9rem;
      }
    }
    .tablePrice {
      color: orange;
      font-weight: bold;
    }
  }
}
