.firstSection {
  display: grid;
  grid-template-columns: 50% 50%;
  background: white;
  height: 400px;
  @media screen and (max-width: 770px) {
    display: flex;
    height: max-content;
    width: 100%;
  }
  .firstSectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border: dashed 1px orange;
    @media screen and (max-width: 770px) {
      width: max-content;
      margin: 0;
    }
    .firstSectionLeftTitle {
      text-align: center;

      .orange {
        font-size: 2.5rem;
        text-transform: capitalize;
        font-family: Allura;
        margin: 0 0 -15px 0;
      }
      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: Poppins;
      }
    }
    .firstSectionLeftLogo {
      margin: -10px auto;
    }
    .firstSectionLeftPara {
      text-align: center;
    }
    .firstSectionLeftIcon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 60px;
        border: 1px solid orange;
        border-radius: 100%;
      }
      h5 {
        margin: 10px auto 0;
        font-weight: 400;
        font-size: 1.1rem;
        text-transform: capitalize;
        font-family: poppins;
      }
      span {
        color: grey;
        font-family: poppins;
        font-size: 0.8rem;
        text-transform: uppercase;
      }
    }
  }
  .firstSectionRight {
    background: url(/assets/img/store-01.jpg) center / cover;
    @media screen and (max-width: 770px) {
      display: none;
    }
  }
}
