.footerMap {
  margin: 0 auto;
  padding-bottom: 150px;
  background: url(/assets/img/gmap.jpg) center / cover no-repeat;
  background-position-y: 100px;
  .footerMapAvatar {
    width: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: white;
    @media screen and (max-width: 770px) {
      margin-top: 50px;
    }
    img {
      position: absolute;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 80px;
      width: 90px;
      @media screen and (max-width: 770px) {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 80px;
        width: 90px;
        z-index: 88;
      }
    }
    .descPara {
      padding: 80px 80px 50px 80px;
      font-family: roboto;
      text-align: center;
      line-height: 30px;
      letter-spacing: 1px;
      color: black;
    }
    h5 {
      font-size: 1.5rem;
      padding-bottom: 10px;
      font-family: roboto;
      letter-spacing: 1px;
    }
    p {
      padding-bottom: 20px;
      color: orange;
      font-family: roboto;
    }
  }
}

footer {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  @media screen and (max-width: 770px) {
    display: flex;
    flex-direction: column;
  }
  .footerLeft {
    width: 50%;
    background: black;
    padding: 30px 0;
    @media screen and (max-width: 770px) {
      display: none;
    }
    .footerLeftTitle {
      padding: 15px;
      font-size: 3rem;
    }
    .footerLeftPara {
      color: white;
      padding: 0 15px 25px 15px;
      font-family: roboto;
      font-size: 0.9rem;
      line-height: 25px;
    }
  }
  .footerRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
    @media screen and (max-width: 770px) {
      width: 100%;
      margin: 15px 0;
    }
    .footerRightTop {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      label {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        font-family: roboto;
      }
      input {
        margin: 10px 0 30px;
        padding: 10px;
        background: transparent;
        height: 30px;
        width: 250px;
        border: 1px solid rgba(151, 150, 150, 0.459);
      }
    }
    .footerRightBottom {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      h6 {
        color: white;
        font-size: 1.2rem;
        font-family: roboto;
      }
      ul {
        width: 50%;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          width: 25%;
        }
      }
    }
  }
}
